<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.activity.dao.ActivityUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.dl.activity.model.ActivityUserInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="invitation_number" jdbcType="INTEGER" property="invitation_number" />
    <result column="invitation_number_reward" jdbcType="VARCHAR" property="invitation_number_reward" />
    <result column="history_invitation_number" jdbcType="INTEGER" property="history_invitation_number" />
    <result column="history_invitation_number_reward" jdbcType="VARCHAR" property="history_invitation_number_reward" />
  	<result column="withdrawable_reward" jdbcType="VARCHAR" property="withdrawable_reward" />
  	<result column="history_total_withdrawable_reward" jdbcType="VARCHAR" property="history_total_withdrawable_reward" />
  	<result column="month_return_reward" jdbcType="VARCHAR" property="month_return_reward" />
  	<result column="history_total_return_reward" jdbcType="VARCHAR" property="history_total_return_reward" />
  	<result column="invitation_add_reward" jdbcType="VARCHAR" property="invitation_add_reward" />
  </resultMap>
  
  
</mapper>