<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.activity.dao.ActivityAccountMapper">
  <resultMap id="BaseResultMap" type="com.dl.activity.model.ActivityAccount">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="user_id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="add_time" jdbcType="INTEGER" property="add_time" />
    <result column="reward_money" jdbcType="DOUBLE" property="reward_money" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  
  <insert id="insertActivityAccount" parameterType="com.dl.activity.model.ActivityAccount" useGeneratedKeys="true" keyProperty="id" >
  	insert into dl_activity_account(
  		user_id,
  		mobile,
  		add_time,
  		reward_money,
  		type
  	)values(
  		#{user_id},
		#{mobile},
		#{add_time},
		#{reward_money},
		#{type}
  	)
  </insert>
  
  <select id = "queryAccount"   resultMap="BaseResultMap">
        select * from  dl_activity_account where user_id = #{user_id}
    </select>

    <select id = "queryAccountByType"   resultMap="BaseResultMap">
        select * from  dl_activity_account where mobile = #{mobile} and type =#{type}
    </select>
</mapper>