<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.activity.dao.ActivityConfigReceiveMapper">
  <resultMap id="BaseResultMap" type="com.dl.activity.model.ActivityConfigReceive">
    <!--
      WARNING - @mbg.generated
    -->
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="act_id" jdbcType="INTEGER" property="act_id" />
      <result column="user_id" jdbcType="INTEGER" property="user_id" />
      <result column="gear_position" jdbcType="VARCHAR" property="gear_position" />
      <result column="config_id" jdbcType="INTEGER" property="config_id" />
      <result column="add_time" jdbcType="TIMESTAMP" property="add_time" />
  </resultMap>

    <select id="hasReceivedConfigDuring" parameterType="com.dl.activity.param.GearHasReceivedParam" resultType="Integer">
        select count(1) from dl_activity_config_user_receive where user_id = #{user_id} and act_id = #{act_id} and gear_position = #{gear_position}  and
        unix_timestamp(add_time) between  #{act_start_time} and #{act_end_time}
    </select>

    <insert id="saveReceived"   keyProperty="gearReceivedId" parameterType="com.dl.activity.param.GearHasReceivedParam" useGeneratedKeys="true">
        INSERT INTO dl_activity_config_user_receive(act_id,user_id,gear_position,gear_position_money,add_time)
        VALUES(#{act_id},#{user_id},#{gear_position},#{gear_position_money},#{add_time});
    </insert>


</mapper>