<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.activity.dao.DlWorldCupPlanMapper">
  <resultMap id="BaseResultMap" type="com.dl.activity.model.DlWorldCupPlan">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="add_time" jdbcType="INTEGER" property="addTime" />
    <result column="modify_time" jdbcType="INTEGER" property="modifyTime" />
    <result column="plan_json" jdbcType="VARCHAR" property="planJson" />
    <result column="status_16" jdbcType="TINYINT" property="status16" />
    <result column="reward_time_16" jdbcType="INTEGER" property="rewardTime16" />
    <result column="reward_amount_16" jdbcType="DECIMAL" property="rewardAmount16" />
    <result column="status_8" jdbcType="TINYINT" property="status8" />
    <result column="reward_time_8" jdbcType="INTEGER" property="rewardTime8" />
    <result column="reward_amount_8" jdbcType="DECIMAL" property="rewardAmount8" />
    <result column="status_4" jdbcType="TINYINT" property="status4" />
    <result column="reward_time_4" jdbcType="INTEGER" property="rewardTime4" />
    <result column="reward_amount_4" jdbcType="DECIMAL" property="rewardAmount4" />
    <result column="status_gyj" jdbcType="TINYINT" property="statusGyj" />
    <result column="reward_time_gyj" jdbcType="INTEGER" property="rewardTimeGyj" />
    <result column="reward_amount_gyj" jdbcType="DECIMAL" property="rewardAmountGyj" />
    <result column="status_gj" jdbcType="TINYINT" property="statusGj" />
    <result column="reward_time_gj" jdbcType="INTEGER" property="rewardTimeGj" />
    <result column="reward_amount_gj" jdbcType="DECIMAL" property="rewardAmountGj" />
    <result column="status_all_true" jdbcType="TINYINT" property="statusAllTrue" />
    <result column="reward_time_all_true" jdbcType="INTEGER" property="rewardTimeAllTrue" />
    <result column="reward_amount_all_true" jdbcType="DECIMAL" property="rewardAmountAllTrue" />
    <result column="is_open" jdbcType="TINYINT" property="isOpen" />
  </resultMap>
  
  <sql id="allFields">
  id,user_id,add_time,modify_time,plan_json,status_16,reward_time_16,reward_amount_16,status_8,reward_time_8,reward_amount_8,
  status_4,reward_time_4,reward_amount_4,status_gyj,reward_time_gyj,reward_amount_gyj,status_gj,reward_time_gj,reward_amount_gj,
  status_all_true,reward_time_all_true,reward_amount_all_true,is_open
  </sql>
  <insert id="insertWorldCupPlan"  parameterType="com.dl.activity.model.DlWorldCupPlan" useGeneratedKeys="true" keyProperty="id">
	INSERT INTO dl_world_cup_plan(user_id,add_time,modify_time,plan_json)
	VALUES(#{userId},#{addTime},#{modifyTime},#{planJson})
  </insert>

  
  <select id="getWorldCupPlanList" resultMap="BaseResultMap">
  	select * from dl_world_cup_plan where user_id = #{userId} order by add_time desc
  </select>
  
	<select  id = "findAllOrderAmount"  resultType="java.math.BigDecimal" >
		SELECT
			SUM( a.ticket_amount ) 
		FROM
			dl_order a 
		WHERE
		a.order_status IN (3, 4, 5, 6, 7)
		 and
		  a.user_id = #{userId}
			and a.pay_time > #{startTime}
	  </select>
</mapper>